<<<<<<< HEAD
body {
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footer-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
	margin-right: auto;
}

=======
body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
>>>>>>> 27041d31a634a99c68c1bc0e6d4a4d3e1c6bc376
